@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");
body {
  background: linear-gradient(179deg, #f5ce86, #f5c586, #eeac77, #ef9b88, #ef8d8e, #e58293, #eb8db1, #df94ad, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

div.border a:before, div.border a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: transparent;
  background: linear-gradient(179deg, #f5ce86, #f5c586, #eeac77, #ef9b88, #ef8d8e, #e58293, #eb8db1, #df94ad, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.border a:before {
  left: 0px;
  top: 0px;
}

div.border a:after {
  right: 0px;
  bottom: 0px;
}

div.border a:hover:before, div.border a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

header nav {
  position: absolute;
}

header .border {
  position: fixed;
  height: 600px;
  max-width: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.86;
}

header a {
  color: white;
  font-family: "Lora", serif;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  margin: 20px 6px;
  padding: 10px 6px;
  position: relative;
  cursor: pointer;
}

#header_socials {
  position: relative;
  left: 260px;
  top: 10px;
}

#header_socials img {
  width: 30px;
  height: 30px;
}

.main_banner {
  width: 280px;
  height: 150px;
  position: relative;
  left: 80px;
  top: 40px;
  -webkit-box-shadow: 1px 1px 5px #050505, -1px 0px 5px black;
          box-shadow: 1px 1px 5px #050505, -1px 0px 5px black;
}

.main_banner p {
  color: black;
  font-family: "Lora", serif;
  font-size: 40px;
  text-align: center;
  padding: 50px 30px;
}

#connect {
  color: black;
  font-family: "Monstserrat", sans-serif;
  font-size: 12px;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 135px;
  top: 100px;
  width: 280px;
}

#connect h2 {
  color: black;
  font-family: "Lora", serif;
  padding: 10px;
}

#connect p {
  color: black;
  font-family: "Monstserrat", sans-serif;
}

#connect img {
  width: 30px;
  height: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px;
}

footer {
  position: relative;
  left: 70px;
  top: 430px;
  font-size: 10px;
}
/*# sourceMappingURL=style.css.map */