@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");
@import "helper/variables";
@import "helper/mixins";
@import "partials/_nav";
@import "partials/_home";
@import "partials/aboutme";

* {
	margin: 0px;
    padding: 0px;
    border: 0px;
}
div.border a:before, div.border a:after
{
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: transparent;
    background: linear-gradient(179deg, rgb(245, 206, 134), #f5c586 , #eeac77, #ef9b88, #ef8d8e, #e58293, #eb8db1, #df94ad, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
    background-size: 2400% 2400%;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
    transition: all 0.3s;
}

div.border a:before
{
    left: 0px;
    top: 0px;
}

div.border a:after
{
    right: 0px;
    bottom: 0px;
}

div.border a:hover:before, div.border a:hover:after
{
    opacity: 1;
    height: 2px;
    width: 100%;
}


// body html nav {
//     transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
//   -webkit-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
//   -moz-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);
//   -o-transition: all .6s cubic-bezier(.5, .2, .2, 1.1);  
//   color: #fff;
//   overflow: hidden; 
// }

header {
    nav {
        position: absolute;
    }
    .border {
        position: fixed;
        height: 600px;
        max-width: 72px;
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        // align-content: flex-start;
        background-color: black;
        opacity: 0.86;
    }
    a {
        @include font-settings($secondary-font-color, $primary-font-family);
        color: #FFF;
        transition: all 0.3s;
        font-size: 14px;
        margin: 20px 6px;
        padding: 10px 6px;
        position: relative;
        cursor: pointer;
    }
}

    #header_socials {
        position: relative;
        left: 260px;
        top: 10px;
    }
    #header_socials img {
        width: 30px;
        height: 30px;
    }

.main_banner {
    // @include font-settings();
    width: 280px;
    height: 150px;
    position: relative;
    left: 80px;
    top: 40px;
    box-shadow: 1px 1px 5px rgb(5, 5, 5), -1px 0px 5px black;

    p {
        @include font-settings();
        font-size: 40px;
        text-align: center;
        padding: 50px 30px;
    }
    
}

#connect {
    @include font-settings ($primary-font-color, $secondary-font-family);
    font-size: 12px;
    position: relative;
    flex-direction: row;
    justify-content: center;
    left: 135px;
    top: 100px;
    width: 280px;

    h2 {
        @include font-settings ();
        padding: 10px;
    }
    p {
        @include font-settings ($primary-font-color, $secondary-font-family);
    }
    img {
        width: 30px;
        height: 30px;
        justify-content: space-between;
        padding: 12px;
    }
}

footer {
    position: relative;
    left: 70px;
    top: 430px;
    font-size: 10px;
}