@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");
div.border a:before, div.border a:after {
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 2px;
  content: '';
  background: transparent;
  background: linear-gradient(179deg, #f5ce86, #f5c586, #eeac77, #ef9b88, #ef8d8e, #e58293, #eb8db1, #df94ad, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

div.border a:before {
  left: 0px;
  top: 0px;
}

div.border a:after {
  right: 0px;
  bottom: 0px;
}

div.border a:hover:before, div.border a:hover:after {
  opacity: 1;
  height: 2px;
  width: 100%;
}

header nav {
  position: absolute;
}

header .border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: black;
  opacity: 0.86;
}

header a {
  color: white;
  font-family: "Lora", serif;
  color: #FFF;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 25px 6px;
  padding: 6px 6px;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  header .border {
    width: 72px;
  }
  header a {
    font-size: 14px;
    width: 50px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  header .border {
    max-width: 100px;
  }
  header a {
    font-size: 20px;
    width: 75px;
  }
}

@media screen and (min-width: 960px) {
  header .border {
    min-width: 110px;
  }
  header a {
    font-size: 20px;
    width: 75px;
  }
}

@media screen {
  .main_banner {
    color: black;
    font-family: "Lora", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    margin: 0 auto;
    border: 1px solid #1a1a1a;
    -webkit-box-shadow: 3px 3px 3px #181818;
            box-shadow: 3px 3px 3px #181818;
    background-color: rgba(255, 255, 255, 0.178);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_banner h1 {
    color: black;
    font-family: "Lora", serif;
    padding: 50px 30px;
  }
  #quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    margin: 0 auto;
    padding: 30px 20px 20px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  #connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: black;
    font-family: "Monstserrat", sans-serif;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
    position: relative;
    margin: 0 auto;
    border-top: 0.5px dashed black;
    border-bottom: 0.5px dashed black;
    padding: 10px;
  }
  #connect h2 {
    color: black;
    font-family: "Lora", serif;
    padding: 10px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    font-size: 10px;
    width: 200px;
  }
}

@media screen and (max-width: 450px) {
  .main_banner {
    width: 280px;
    left: 40px;
    top: 20px;
  }
  .main_banner h1 {
    font-size: 40px;
  }
  #quote {
    top: 100px;
    left: 40px;
    font-size: 25px;
    width: 200px;
  }
  #connect {
    top: 200px;
    left: 42px;
    max-width: 300px;
  }
  footer {
    top: 240px;
    left: 75px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .main_banner {
    left: 50px;
    top: 10px;
    width: 550px;
  }
  .main_banner h1 {
    font-size: 70px;
  }
  #quote {
    top: 120px;
    left: 54px;
    font-size: 40px;
    width: 400px;
  }
  #connect {
    top: 220px;
    left: 62px;
    width: 650px;
  }
  footer {
    top: 300px;
    left: 620px;
  }
}

@media screen and (min-width: 961px) and (max-width: 1500px) {
  .main_banner {
    width: 1200px;
    height: 180px;
  }
  .main_banner h1 {
    font-size: 80px;
    padding: 20px;
  }
  #quote {
    top: 80px;
    left: 40px;
    font-size: 35px;
    width: 900px;
  }
  #connect {
    top: 250px;
    left: 12px;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    width: 1200px;
  }
  footer {
    top: 255px;
    left: 1050px;
  }
}

@media screen and (min-width: 1501px) {
  .main_banner {
    width: 1200px;
    height: 180px;
  }
  .main_banner p {
    font-size: 80px;
    padding: 20px;
  }
  #quote {
    top: 180px;
    left: 40px;
    font-size: 45px;
    width: 1200px;
  }
  #connect {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    width: 1600px;
    top: 400px;
    left: 32px;
    font-size: 20px;
  }
  footer {
    -ms-flex-line-pack: end;
        align-content: flex-end;
    top: 425px;
    left: 1300px;
  }
}

@media screen {
  .about_me {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: black;
    font-family: "Lora", serif;
    position: relative;
    margin: 0 auto;
  }
  h2 {
    position: relative;
  }
  #about_foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media screen and (max-width: 450px) {
  .about_me {
    top: 30px;
    left: 30px;
    width: 250px;
  }
  .about_me #top img {
    width: 140px;
    height: 140px;
  }
  .about_me #top h2 {
    font-size: 20px;
    top: -100px;
    left: 150px;
  }
  .about_me p {
    font-family: "Monstserrat", sans-serif;
    font-size: 12px;
    position: relative;
    top: -50px;
    padding: 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  #about_foot {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: 30px;
    left: 50px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .about_me {
    width: 500px;
    left: 80px;
    top: 100px;
  }
  .about_me #top img {
    width: 240px;
    height: 240px;
  }
  .about_me #top h2 {
    font-size: 40px;
    top: -190px;
    left: 250px;
  }
  .about_me p {
    font-family: "Monstserrat", sans-serif;
    font-size: 20px;
    position: relative;
    top: -120px;
    padding: 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

@media screen and (min-width: 961px) {
  .about_me {
    width: 500px;
    right: 200px;
    top: 100px;
  }
  .about_me #top img {
    width: 400px;
    height: 400px;
  }
  .about_me #top h2 {
    font-size: 45px;
    top: -430px;
    left: 420px;
  }
  .about_me p {
    font-family: "Monstserrat", sans-serif;
    font-size: 20px;
    position: relative;
    top: -400px;
    left: 420px;
    padding: 15px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background: linear-gradient(179deg, #f5ce86, #f5cf9e, #f8c296, #f8af9e, #f5a0a1, #f59cab, #f5a3c2, #f1aec5, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
  background-size: 2400% 2400%;
  -webkit-animation: AnimationName 60s ease infinite;
  animation: AnimationName 60s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 49% 0%;
  }
  50% {
    background-position: 52% 100%;
  }
  100% {
    background-position: 49% 0%;
  }
}

@media screen {
  #header_socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 0 auto;
  }
  #header_socials img {
    width: 50px;
    height: 50px;
    padding: 10px 6px;
  }
  .page_banner {
    color: black;
    font-family: "Lora", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 0 auto;
    height: 140px;
    border: 1px solid #1a1a1a;
    -webkit-box-shadow: 3px 3px 3px #181818;
            box-shadow: 3px 3px 3px #181818;
    background-color: rgba(255, 255, 255, 0.178);
  }
  .page_banner p {
    font-size: 60px;
    text-align: center;
    padding-top: 30px;
  }
}

/* Mobile Styling */
@media screen and (max-width: 450px) {
  #header_socials img {
    width: 30px;
    height: 30px;
    padding: 5px 3px;
  }
  .page_banner {
    width: 260px;
    height: 100px;
    left: 30px;
  }
  .page_banner p {
    font-size: 30px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .page_banner {
    top: 10px;
    left: 50px;
    width: 560px;
  }
}

@media screen and (min-width: 961px) {
  .page_banner {
    width: 1000px;
  }
}

@media screen {
  .project_list {
    color: white;
    font-family: "Monstserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: black;
    position: relative;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    z-index: -1;
  }
  .project_list img {
    border-bottom: 1px dashed white;
  }
  .project_list #project1 {
    border-top: 1px dashed white;
    margin-top: 10px;
  }
}

@media screen and (max-width: 450px) {
  .project_list {
    font-size: 8px;
    top: 40px;
    width: 260px;
    left: 32px;
  }
  .project_list img {
    height: 200px;
    width: 180px;
    padding: 10px 40px;
  }
  .project_list p {
    padding: 10px 10px;
  }
  #project_foot {
    position: relative;
    top: 100px;
    left: 210px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .project_list {
    background-color: black;
    width: 600px;
    left: 60px;
    top: 120px;
  }
  .project_list img {
    height: 200px;
    width: 180px;
    padding: 10px 210px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project_list p {
    padding: 10px 80px;
  }
}

@media screen and (min-width: 961px) {
  .project_list {
    background-color: black;
    width: 900px;
    left: 10px;
    top: 120px;
  }
  .project_list img {
    height: 400px;
    width: 380px;
    padding: 10px 260px;
  }
  .project_list p {
    padding: 10px 80px;
  }
}

@media screen {
  .table {
    color: black;
    font-family: "Monstserrat", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
    margin: 0 auto;
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-wrap: wrap;
    font: 13px;
  }
  .table h1 {
    padding-top: 60px;
    border-bottom: 1px solid black;
  }
  .table p {
    padding: 8px 1px;
    border-bottom: 1px solid black;
  }
  #work h2 {
    padding-top: 15px;
  }
  #work ul {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 450px) {
  .table {
    font-size: 8px;
    width: 260px;
    left: 40px;
  }
  .table h1 {
    padding-top: 30px;
  }
  #references {
    min-width: 260px;
    padding-bottom: 5px;
  }
  #references h3 {
    padding-top: 5px;
  }
}

@media screen and (min-width: 451px) and (max-width: 960px) {
  .table {
    top: 40px;
    width: 460px;
    left: 60px;
  }
  #references {
    min-width: 260px;
    padding-bottom: 5px;
  }
  #references h3 {
    padding-top: 5px;
  }
}

@media screen and (min-width: 961px) {
  .table {
    top: 40px;
    width: 460px;
    right: 270px;
  }
  #work {
    position: relative;
    left: 530px;
    top: -578px;
  }
  #references {
    position: relative;
    min-width: 260px;
    padding-bottom: 5px;
    top: -1500px;
    width: 460px;
  }
  #references h3 {
    padding-top: 5px;
  }
}
/*# sourceMappingURL=style.css.map */