// General Styling 

@media screen {
    .about_me {
        @include basic-flex;
        @include font-settings();
        position: relative;
        margin: 0 auto;
    }
    h2 {
        position: relative;
    }
    // #about_foot {
    //     @include basic-flex;
    //     flex-direction: row;
    //     justify-content: flex-end;
    // }
}

// Mobile Styling
@media screen and (max-width:450px){
    .about_me {
        top: 5vh;
        left: 10vw;
        width: 60vw;
        #top {
            img {
                width: 110px;
                height: 110px;
                }
            h2 {
                font-size: 20px;
                top: -14vh;
                left: 35vw;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 12px;
            position: relative;
            left: 2vw;
            top: -8vh;
            padding: 15px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }

    #about_foot {
        justify-content: center;
        top: 8vh;
        left: 50vw;
    }
}

//Tablet Styling

@media screen and (min-width: 451px) and (max-width: 960px) {
    .about_me {
        width: 50vw;
        top: 10vh;
        img {
            width: 30vw;
            height: auto;
            }
        #top {
            h2 {
                font-size: 40px;
                top: -15vh;
                left: 35vw;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 20px;
            position: relative;
            top: -10vh;
            width: 60vw;
            padding: 15px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}

//Web Styling

@media screen and (min-width: 961px) {
    .about_me {
        left:10vw;
        width: 70vw;
        top: 10vh;
        img {
            width: 30vw;
            height: auto;
            }
        #top {
            h2 {
                font-size: 45px;
                top: -32vh;
                left: 35vw;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 25px;
            position: relative;
            top: -20vh;
            right: 8vw;
            padding: 15vh 0vw;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}
//any bigger screens
@media screen and (min-width:1401px) {
    .about_me {
        left:15vw;
        width: 70vw;
        top: 10vh;
        img {
            width: 20vw;
            height: auto;
            }
        #top {
            h2 {
                font-size: 55px;
                top: -20vh;
                left: 22vw;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 35px;
            position: relative;
            top: -10vh;
            right: 8vw;
            padding: 10vh 0vw;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}