// General Styling 

@media screen {
    .about_me {
        @include basic-flex;
        @include font-settings();
        position: relative;
        margin: 0 auto;
    }
    h2 {
        position: relative;
    }
    #about_foot {
        @include basic-flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

// Mobile Styling
@media screen and (max-width:450px){
    .about_me {
        top: 30px;
        left: 30px;
        width: 250px;
        #top {
            img {
                width: 140px;
                height: 140px;
                }
            h2 {
                font-size: 20px;
                top: -100px;
                left: 150px;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 12px;
            position: relative;
            top: -50px;
            padding: 15px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }

    #about_foot {
        justify-content: center;
        top: 30px;
        left: 50px;
    }
}

//Tablet Styling

@media screen and (min-width: 451px) and (max-width: 960px) {
    .about_me {
        width: 500px;
        left: 80px;
        top: 100px;
        #top {
            img {
                width: 240px;
                height: 240px;
                }
            h2 {
                font-size: 40px;
                top: -190px;
                left: 250px;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 20px;
            position: relative;
            top: -120px;
            padding: 15px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}

//Web Styling

@media screen and (min-width: 961px) {
    .about_me {
        width: 500px;
        right: 200px;
        top: 100px;
        #top {
            img {
                width: 400px;
                height: 400px;
                }
            h2 {
                font-size: 45px;
                top: -430px;
                left: 420px;
            }
        }
        p {
            font-family: $secondary-font-family;
            font-size: 20px;
            position: relative;
            top: -400px;
            left: 420px;
            padding: 15px 0px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
        }
    }
}