* {
	margin: 0px;
    padding: 0px;
    border: 0px;
}

// General Styling 

body {
    background: linear-gradient(179deg,#f5cf9e, #f8c296, #f8af9e, #f5a0a1, #f59cab, #f5a3c2, #f39bdd, #c077c0, #b06fc4, #9872c5, #8a72c6, #7273c6, #5758aa);
    background-size: 2400% 2400%;
    animation: AnimationName ease 60s infinite alternate ;
    -webkit-animation: AnimationName 60s ease infinite;
    @keyframes AnimationName { 
    0%{background-position: 90% 0%}
    50%{background-position: 40% 90%}
    100%{background-position: 90% 0%}
    }
    @-webkit-keyframes AnimationName { 
    0%{background-position: 90% 0%}
    50%{background-position: 40% 90%}
    100%{background-position: 90% 0%}
    }
}


// General Styling 

@media screen {
    #header_socials {
        @include basic-flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 auto;
        img {
            width: 50px;
            height: 50px;
            padding: 10px 6px;
        }
    }
    .page_banner {
        @include font-settings();
        @include basic-flex();
        flex-direction: row;
        justify-content: center;
        position: relative;
        margin: 0 auto;
        height: 140px;
        border: 1px solid rgb(26, 26, 26);
        box-shadow: 3px 3px 3px rgb(24, 24, 24);
        background-color: rgba(255, 255, 255, 0.178);
        p {
            font-size: 60px;
            text-align: center;
            padding-top: 30px
        }
    }
}

/* Mobile Styling */ 

@media screen and (max-width:450px){
    #header_socials {
        img {
            width: 30px;
            height: 30px;
            padding: 5px 3px;
        }
    }

    .page_banner {
        width: 260px;
        height: 100px;
        left: 30px;
        p {
            font-size: 30px;
        }
    }
}


//Tablet Styling 

@media screen and (min-width: 451px) and (max-width:960px) {
    .page_banner {
        top: 10px;
        left: 50px;
        width: 560px;
    }
}

//Web Styling

@media screen and (min-width:961px) {
    .page_banner {
        width: 1000px;
    }
}
