.study {
    @include font-settings($primary-font-color, $secondary-font-family);
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    top: 200px;
    width: 240px;
    height: 300px;
    left: 90px;
    p {
        min-width: 260px;
        padding: 5px 1px;
        border: 1px solid black;
    }
}