.table {
    @include font-settings($primary-font-color, $secondary-font-family);
    @include basic-flex;
    font-size: 8px;
    position: relative;
    top: 200px;
    width: 260px;
    left: 90px;
    padding-bottom: 30px;
    h1 {
        padding-top: 30px;
        border-bottom: 1px solid black;
    }
    p {
        padding: 8px 1px;
        border-bottom: 1px solid black;
    }
}

#work {
    h2 {
        padding-top: 15px;
    }
    ul {
        padding-bottom: 15px;
        border-bottom: 1px solid black;
    }
}

#references {
    min-width: 260px;
    padding-bottom: 5px;
    h3 {
        padding-top: 5px;
    }
}