// General Styling
@media screen {
    .main_banner {
        @include font-settings();
        @include basic-flex;
        position: relative;
        margin: 0 auto;
        border: 1px solid rgb(26, 26, 26);
        box-shadow: 3px 3px 3px rgb(24, 24, 24);
        background-color: rgba(255, 255, 255, 0.178);
        justify-content: center;
        align-content: center;
        h1 {
            @include font-settings();
            padding: 50px 30px;
        }
    }
    #quote {
        @include basic-flex;
        position: relative;
        justify-content: center;
        margin:0 auto;
        padding: 30px 20px 20px 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    #connect {
        @include basic-flex;
        @include font-settings ($primary-font-color, $secondary-font-family);
        justify-content: center;
        font-size: 12px;
        position: relative;
        margin: 0 auto;
        border-top: 0.5px dashed black;
        border-bottom: 0.5px dashed black;
        padding: 10px;
        h2 {
            @include font-settings ();
            padding: 10px;
        }
    }
    footer {
        @include basic-flex;
        position: relative;
        font-size: 10px;
        width: 200px;
    }
}

//Mobile Styling
@media screen and (max-width:450px) {
    .main_banner {
        width: 70vw;
        height: 20vh;
        left: 8vw;
        top: 1vh;
        h1 {
            font-size: 40px;
        }
    }
    #quote {
        top: 10vh;
        left: 10vw;
        font-size: 20px;
        width: 50vw;
    }
    #connect {
        top: 20vh;
        left: 10vw;
        width: 80vw;
    }

    footer {
        top: 35vh;
        left: 55vw;
    }
}

//Tablet Styling 

@media screen and (min-width: 451px) and (max-width:960px) {
    .main_banner {
        left: 5vw;
        top: 2vh;
        width: 80vw;

        h1 {
            font-size: 70px;
        }
    }

    #quote {
        top: 15vh;
        left: 5vw;
        font-size: 40px;
        width: 70vw;
    }

    #connect {
        top: 35vh;
        left: 5vw;
        width: 85vw;
    }

    footer {
        top: 36vh;
        left: 80vw;
    }
}


//Web Styling
@media screen and (min-width:961px) {
    .main_banner {
        width: 80vw;
        height: 25vh;
        h1 {
            font-size: 80px;
            padding: 20px;
        }
    }

    #quote {
        top: 15vh;
        font-size: 35px;
        width: 100vw;
    }

    #connect {
        top: 35vh;
        align-content: flex-end;
        width: 100vw;
    }

    footer {
        top: 36vh;
        left: 85vw;
    }
}

// Bigger screen styling

// @media screen and (min-width:1501px) {
//     .main_banner {
//         width: 1200px;
//         height: 180px;
//         h1 {
//             font-size: 80px;
//             padding: 20px;
//         }
        
//     }

//     #quote {
//         top: 180px;
//         left: 40px;
//         font-size: 45px;
//         width: 1200px;
//     }

//     #connect {
//         flex-direction: row;
//         align-content: flex-end;
//         width: 1600px;
//         top: 400px;
//         left: 32px;
//         font-size: 20px;
//     }

//     footer {
//         align-content: flex-end;
//         top: 425px;
//         left: 1300px;
//     }
// }