// General Styling
@media screen {
    .main_banner {
        @include font-settings();
        @include basic-flex;
        position: relative;
        margin: 0 auto;
        border: 1px solid rgb(26, 26, 26);
        box-shadow: 3px 3px 3px rgb(24, 24, 24);
        background-color: rgba(255, 255, 255, 0.178);
        justify-content: center;
        p {
            @include font-settings();
            padding: 50px 30px;
        }
    }
    #quote {
        @include basic-flex;
        position: relative;
        margin:0 auto;
        padding: 30px 20px 20px 20px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    #connect {
        @include basic-flex;
        @include font-settings ($primary-font-color, $secondary-font-family);
        justify-content: center;
        font-size: 12px;
        position: relative;
        margin: 0 auto;
        border-top: 0.5px dashed black;
        border-bottom: 0.5px dashed black;
        padding: 10px;
        h2 {
            @include font-settings ();
            padding: 10px;
        }
    }
    footer {
        @include basic-flex;
        position: relative;
        font-size: 10px;
        width: 200px;
    }
}

//Mobile Styling
@media screen and (max-width:450px) {
    .main_banner {
        width: 280px;
        left: 40px;
        top: 20px;
        p {
            font-size: 40px;
        }
    }
    #quote {
        top: 100px;
        left: 40px;
        font-size: 25px;
        width: 200px;
    }
    #connect {
        top: 200px;
        left: 42px;
        max-width: 300px;
    }

    footer {
        top: 240px;
        left: 75px;
    }
}

//Tablet Styling 

@media screen and (min-width: 451px) and (max-width:960px) {
    .main_banner {
        left: 50px;
        top: 10px;
        width: 550px;

        p {
            font-size: 70px;
        }
        
    }

    #quote {
        top: 120px;
        left: 54px;
        font-size: 40px;
        width: 400px;
    }

    #connect {
        top: 220px;
        left: 62px;
        width: 650px;
    }

    footer {
        // @include basic-flex;
        // position: relative;
        top: 300px;
        left: 620px;
    }
}


//Web Styling
@media screen and (min-width:961px) {
    .main_banner {
        width: 1200px;
        height: 180px;
        p {
            font-size: 80px;
            padding: 20px;
        }
        
    }

    #quote {
        top: 80px;
        left: 40px;
        font-size: 50px;
        width: 800px;
    }

    #connect {
        top: 200px;
        left: 12px;
        width: 1200px;
    }

    footer {
        top: 205px;
        left: 1050px;
    }
}