div.border a:before, div.border a:after {
    position: absolute;
    opacity: 0.5;
    height: 100%;
    width: 2px;
    content: '';
    background: transparent;
    background: linear-gradient(179deg, rgb(245, 206, 134), #f5c586 , #eeac77, #ef9b88, #ef8d8e, #e58293, #eb8db1, #df94ad, #b07da3, #a47db0, #9872c5, #8a72c6, #7273c6, #5758aa);
    background-size: 2400% 2400%;
    -webkit-animation: AnimationName 60s ease infinite;
    -moz-animation: AnimationName 60s ease infinite;
    animation: AnimationName 60s ease infinite;
    transition: all 0.3s;
}

div.border a:before {
    left: 0px;
    top: 0px;
}

div.border a:after {
    right: 0px;
    bottom: 0px;
}

div.border a:hover:before, div.border a:hover:after {
    opacity: 1;
    height: 2px;
    width: 100%;
}

// General Styling

header {
    nav {
        position: absolute;
    }
    .border {
        @include basic-flex;
        position: fixed;
        height: 100%;
        flex-direction: column;
        background-color: black;
        opacity: 0.86;
        z-index: 1;
    }
    a {
        @include font-settings($secondary-font-color, $primary-font-family);
        color: #FFF;
        transition: all 0.3s;
        margin: 25px 6px;
        padding: 6px 6px;
        position: relative;
        cursor: pointer;
    }
}

//Mobile Styling

@media screen and (max-width: 450px) {
    header {
        .border {
            width: 72px;
        }
        a {
            font-size: 14px;
            width: 50px;
        }
    }
}
// Tablet Styling

@media screen and (min-width: 451px) and (max-width: 960px) {
    header {
        .border {
            max-width: 100px;
        }
        a {
        font-size: 20px;
        width: 75px;
        }
    }
}

// Web Styling

@media screen and (min-width: 960px) {
    header {
        .border {
            min-width: 110px;
        }
        a {
        font-size: 20px;
        width: 75px;
        }
    }
}