//General Styling

@media screen {
    .project_list {
    @include font-settings($secondary-font-color, $secondary-font-family);
    @include basic-flex;
    justify-content: center;
    background-color: black;
    position: relative;
    margin: 0 auto;
    flex-direction: row;
    img {
        border-bottom: 1px dashed white;
        }
    #project1 {
        border-top: 1px dashed white;
        margin-top: 10px;
        }
    }
}

//Mobile Styling

@media screen and (max-width:450px) {
    .project_list {
        font-size: 8px;
        top: 40px;
        width: 260px;
        left: 32px;
        img {
            height: 200px;
            width: 180px;
            padding: 10px 40px;
        }
        p {
            padding: 10px 10px;;
        }
    }
    #project_foot {
        position: relative;
        top: 100px;
        left: 210px;
    }
}

// Tablet Styling 

@media screen and (min-width: 451px) and (max-width:960px) {
    .project_list {
        background-color: black;
        width: 600px;
        left: 60px;
        top: 120px;
        img {
            height: 200px;
            width: 180px;
            padding: 10px 210px;
            justify-content: center;
        }
        p {
            padding: 10px 80px;;
        }
    }
}

// Web Styling 

@media screen and (min-width:961px) {
    .project_list {
        background-color: black;
        width: 900px;
        left: 10px;
        top: 120px;
        img {
            height: 400px;
            width: 380px;
            padding: 10px 260px;
        }
        p {
            padding: 10px 80px;;
        }
    }
}