@mixin font-settings($color: $primary-font-color, $family: $primary-font-family) {
    color: $color;
    font-family: $family;
}
@mixin basic-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}